:root {
  --clr-blue-400: 223 87% 63%;
  --clr-blue-200: 223 100% 88%;
  --clr-red-200: 354 100% 66%;
  --clr-neutral-500: 0 0% 59%;
  --clr-neutral-900: 209 33% 12%;

  --ff-sans: 'Libre Franklin', sans-serif;
  --fs-900: 2rem;
  --fs-400: 1.125rem;
  --fw-light: 300;
  --fw-regular: 500;
  --fw-bold: 700;
}

@media (min-width: 50em) {
  :root {
    --fs-900: 3rem;
    --fs-400: 1.25rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--ff-sans);
  line-height: 1.7;
  color: hsl(var(--clr-neutral-500));
}

body {
  margin: 0;
  font-size: var(--fs-400);
}

img {
  display: block;
  max-width: 100%;
}

ul[role='list'] {
  list-style: none;
  padding: 0;
}

button,
input {
  font: inherit;
}
