---
import FrontendMentorLayout from '../layouts/FrontendMentorLayout.astro'
---

<FrontendMentorLayout
  title='Ping coming soon page'
  fontFamily='Libre Franklin'
  fontWeights={[300, 600, 700]}
>
  <div class='hero'>
    <img src='./images/logo.svg' alt='Ping logo' class='logo' />
    <h1>We are launching <span>soon!</span></h1>
    <p>Subscribe and get notified</p>
    <form>
      <input type='email' placeholder='Your email address' />

      <button class='notify-btn'>Notify Me</button>
    </form>
  </div>

  <img
    src='./images/illustration-dashboard.png'
    alt='Dashboard illustration'
    class='illustration'
  />

  <ul class='social-links'>
    <li><a href='#'><i class='fa-brands fa-facebook-f'></i></a></li>
    <li><a href='#'><i class='fab fa-twitter'></i></a></li>
    <li><a href='#'><i class='fab fa-instagram'></i></a></li>
  </ul>

  <p class='copyright'>&copy; Copyright Ping. All rights reserved.</p>
</FrontendMentorLayout>
